---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Kluge Kerlchen Merch Sachen und so">
  <main>
    <div>
      <h1 class="text-center text-[2rem] lg:text-[4rem]">
        Ben Seyer's wonderful Shop™
      </h1>
      <!-- !the following will likely be changed, it's just an idea -->
      <div>
        <!-- qr code -->
      </div>
      <a
        class="mx-auto block w-fit rounded bg-[#2ADFA8] px-3 py-2 text-[1.5rem]"
        href="/shop">Shop</a
      >
    </div>
  </main>
</Layout>
