---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button";
import Quote from "../components/Quote.astro";
---

<Layout title="Kluge Kerlchen Merch Sachen und so">
  <main>
    <div>
      <h1 class="text-center text-[2rem] lg:text-[4rem]">
        Ben Seyer's wonderful Shop™
      </h1>
      <p class="mb-8 text-center text-[1.5rem]">
        You want Kluge Kerlchen Merch? You are at the right spot!
      </p>
      <!-- !the following will likely be changed, it's just an idea -->
      <div>
        <!-- qr code -->
      </div>
      <!-- <a
        class="mx-auto block w-fit rounded bg-[#2ADFA8] px-3 py-2 text-[1.5rem]"
        href="/shop">Shop for Merch</a
      > -->
      <Button text={"Shop for Merch"} client:load />
      <div class="mx-auto mt-12 w-fit">
        <Quote text="Hallo ok nein sorry" author="Ben Seyer" />
      </div>
    </div>
  </main>
</Layout>
