---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button";
import Quote from "../components/Quote.astro";

import ScrollVelocity from "../components/ScrollVelocity";
---

<Layout title="Kluge Kerlchen Merch Sachen und so">
  <main class="relative overflow-hidden">
    <div
      class="absolute left-[1250px] top-8 -z-10 h-[500px] w-[500px] bg-main-light [-webkit-mask:url('/blobs/blob_1.svg')_no-repeat_center] [mask:url('/blobs/blob_1.svg')_no-repeat_center] dark:bg-main-dark"
    >
    </div>
    <div
      class="absolute right-[1300px] top-8 -z-10 h-[500px] w-[500px] bg-main-light [-webkit-mask:url('/blobs/blob_2.svg')_no-repeat_center] [mask:url('/blobs/blob_2.svg')_no-repeat_center] dark:bg-main-dark"
    >
    </div>
    <div class="relative mb-16 p-6">
      <h1 class="mb-4 text-center text-[2.5rem] leading-[1.25] lg:text-[4rem]">
        Ben Seyer's wonderful Shop™
      </h1>
      <p class="mb-20 text-center text-[1.5rem]">
        You want Kluge Kerlchen Merch? You are at the right spot!
      </p>
      <!-- !the following will likely be changed, it's just an idea -->
      <div>
        <!-- qr code -->
      </div>
      <!-- <a
        class="mx-auto block w-fit rounded bg-[#2ADFA8] px-3 py-2 text-[1.5rem]"
        href="/shop">Shop for Merch</a
      > -->
      <Button text={"Shop for Merch"} client:load />
      <!-- <div class="mx-auto mt-16 w-fit">
        <Quote text="Hallo ok nein sorry" author="Ben Seyer" />
      </div> -->
      <!-- <div class="absolute right-0 top-0">
        <img src="/illustrations/Decoration.svg" width="500px" />
      </div> -->
    </div>
    <div>
      <h2 class="mb-4 text-center text-[2rem] lg:text-[3rem]">
        Our most bought Items
      </h2>
      <div class="flex justify-center"></div>
    </div>
    <div>
      <h2 class="mb-4 text-center text-[2rem] lg:text-[3rem]">
        Some words from the Founder
      </h2>
      <div
        class="mx-auto flex w-full max-w-[1000px] flex-wrap justify-center gap-12 p-12"
      >
        <Quote text="öffne Suchmaschine" author="Ben Seyer" />
        <Quote text="Batman" author="Ben Seyer" />
        <Quote
          text="Gibt es irgendwelche junge Kinder, die man nutzen könnte?"
          author="Ben Seyer"
        />
        <Quote text="scharfe Chips sind scharf" author="Ben Seyer" />
      </div>
    </div>
  </main>
</Layout>
