---
import Layout from "../layouts/Layout.astro";

const allItems = await Astro.glob("./shop/*.md");
---

<Layout title="Give Ben Seyer money.">
  <div>
    <h1 class="text-center text-[2rem] lg:text-[4rem]">
      GIVE BEN SEYER MONEY. NOW.
    </h1>
  </div>
  <div>
    <!-- * Here do the items go -->
    {allItems.map((item) => {})}
  </div>
</Layout>
