---
import Layout from "../layouts/Layout.astro";
import Item from "../components/Item";

const allItems = await Astro.glob("./shop/*.md");
---

<Layout title="Give Ben Seyer money.">
  <div class="relative">
    <h1 class="text-center text-[2rem] lg:text-[4rem]">
      GIVE BEN SEYER MONEY. NOW.
    </h1>
  </div>
  <div class="flex flex-wrap justify-center p-8">
    {
      allItems.map((item) => {
        return <Item item={item} client:load />;
      })
    }
  </div>
</Layout>
