---
import ThemeToggle from "./ThemeToggle";
---

<nav class="flex h-16 items-center px-4">
  <a href="/" class="mr-auto text-[2rem]">Kluge Kerlchen</a>
  <div>
    <ThemeToggle client:load />
  </div>
</nav>
