---
import ThemeToggle from "./ThemeToggle";
---

<nav class="flex h-16 items-center px-4">
  <a href="/" class="mr-auto flex gap-2 text-[2rem]"
    ><img
      src="/logos/Kluge_Kerlchen.png"
      width="50px"
      class="block dark:hidden"
    /><img
      src="/logos/Kluge_Kerlchen_white.png"
      class="hidden dark:block"
      width="50px"
    />Merch</a
  >
  <div>
    <ThemeToggle client:load />
  </div>
</nav>
