---
import ThemeToggle from "./ThemeToggle";
---

<nav class="flex h-16 items-center px-4">
  <a href="/" class="flex gap-2 text-[2rem]"
    ><img
      src="/logos/Kluge_Kerlchen.png"
      width="50px"
      class="block dark:hidden"
    /><img
      src="/logos/Kluge_Kerlchen_white.png"
      class="hidden dark:block"
      width="50px"
    />Merch</a
  >
  <!-- todo add a toolpick that says "This website is currently in version 0.69" -->
  <!-- <div
    class="ml-6 rounded bg-main-light px-2 py-1 text-[1.25rem] text-black-darker dark:bg-main-dark"
  >
    alpha
  </div> -->
  <div
    class="group relative ml-6 rounded bg-main-light px-2 py-1 text-[1.25rem] text-black-darker hover:cursor-pointer dark:bg-main-dark"
  >
    alpha
    <div
      class="absolute -bottom-12 left-[50%] top-[170%] hidden h-fit w-fit whitespace-nowrap rounded bg-main-light px-1.5 py-1 text-black-darker transition-opacity [transform:translate(-50%,-50%)] group-hover:block dark:bg-main-dark"
    >
      This website is currently in version 0.69
    </div>
  </div>
  <div class="ml-auto">
    <ThemeToggle client:load />
  </div>
</nav>
