---
const { text, author } = Astro.props;
---

<div
  class="relative z-0 h-fit w-fit max-w-[500px] rounded bg-white-brighter px-6 py-2 shadow-sm dark:bg-black-darker"
>
  <div
    class="absolute -left-6 -top-8 -z-10 text-[8rem] text-main-light dark:text-main-dark"
  >
    "
  </div>
  <p class="text-[1.5rem]">{text}</p>
  <p class="text-[2rem]">- {author}</p>
</div>
