---
import Layout from "./Layout.astro";

const frontmatter = Astro.props.frontmatter;
---

<Layout title={frontmatter.name}>
  <div class="grid grid-cols-1 grid-rows-2 md:grid-cols-2 md:grid-rows-1">
    <div class="flex justify-center p-8">
      <div
        class="flex aspect-square w-full max-w-[500px] items-center justify-center rounded bg-gray-100"
      >
        <!-- image of product -->
      </div>
    </div>
    <div class="flex flex-col max-md:items-center md:mx-auto">
      <!-- selection of size -->
      <h2 class="mb-4 text-[2rem]">Select your size</h2>
      <div class="mb-8 flex flex-wrap gap-4">
        <div class="rounded bg-gray-100 px-3 py-1 hover:cursor-pointer">
          Jihad
        </div>
        <div class="rounded bg-gray-100 px-3 py-1 hover:cursor-pointer">XS</div>
        <div class="rounded bg-gray-100 px-3 py-1 hover:cursor-pointer">S</div>
        <div class="rounded bg-gray-100 px-3 py-1 hover:cursor-pointer">M</div>
      </div>
      <button
        class="block w-fit rounded bg-[#2ADFA8] px-3 py-2 text-[1.5rem] text-[#000000] hover:cursor-pointer"
        >Request Item</button
      >
    </div>
  </div>
</Layout>
