---
import "../global.css";

import NavBar from "../components/NavBar.astro";
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="bg-white-normal font-lora selection:bg-red-500 dark:bg-black-normal dark:text-[#FFFFFF]"
  >
    <!-- ! change higlight color -->
    <header>
      <NavBar />
    </header>
    <div class="mt-16">
      <slot />
    </div>
    <footer
      class="mt-8 bg-black-normal px-8 py-2 text-white-normal dark:bg-black-darker"
    >
      <h2 class="text-white text-[6rem]">BEN SEYER</h2>
    </footer>
  </body>
</html>

<script is:inline>
  const theme = (() => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  })();

  if (theme === "light") {
    document.documentElement.classList.remove("dark");
  } else {
    document.documentElement.classList.add("dark");
  }
  window.localStorage.setItem("theme", theme);
</script>
